.checkout{
  margin: 1rem;
}

.total{
  font-family: 'Arno Pro', sans-serif;
  font-size: 1.5rem;
  padding: 0 1rem;
}
.button-total{
  color: #fff;
  padding: 1rem;
  border: none;
  margin-right: 0.4rem;
  background-color:#433832 ;
  font-family: 'Arno Pro', sans-serif;
  transition: 0.3s;
  cursor: pointer;
  &:hover{
    background-color: #361d0b;
    color: #fff;
  }

.title-total{
  font-family: 'Arno Pro', sans-serif;
  font-size: 1.5rem;

}
  
}
.button-total-clear{
  color: #361d0b;
  padding: 1rem;
  border: none;
  margin-right: 0.4rem;
  background-color:#f1f1f1 ;
  font-family: 'Arno Pro', sans-serif;
  transition: filter 0.3s;
  cursor: pointer;
  align-items: center;
  &:hover{
    filter: brightness(0.8);
  }
}






h2, .empty-cart {
    text-align: center;
    padding: 6rem;
  }
  
  .cart-item {
    text-align: center;
    border: 1px solid rgba(54, 29, 11, 0.1);
    margin: 2rem;
    padding: 1rem;
  
    .item-image {
      img {
        width: 50px;
      }
    }
  
    .name-price {
      h4 {
        margin: 0;
      }
      p {
        font-size: 1rem;
        font-weight: normal;
      }
    }
  
    .btns-container {
      button {
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        font-size: 10px;
        margin-right: 5px;
      }
  
      .btn-increase {
        color: #fff;
        background-color: #1a1a1a;
      }
  
      .btn-decrease, .btn-trash {
        color: #fff;
        background-color: #d9534f;
      }
    }
    
    .total-container {
      margin: 2rem;
      text-align: center;
    }
  }
  
  @media(min-width: 1024px) {
    .cart-page {
      display: flex;
      justify-content: center;
  
      .total-container {
        text-align: center;
      }
    }
    .cart-item {
      display: flex;
      justify-content: space-between;
      div {
        margin: 1rem;
      }
      .name-price {
        width: 200px;
      }
    }
  }